<p>header works!</p>
<header>
    <nav>
        <ul>
            <li><a routerLink="/">Home</a></li>
            @if (user()?.roles?.includes('ROLE_ADMIN')) {
                <li><a routerLink="/admin">Admin</a></li>
            }
            <li><a routerLink="/products">Products</a></li>
            <li><a routerLink="/profile">Profile</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </nav>
    <!-- welcome user -->
    <p>Welcome, {{ user()?.username || 'Usuario' }}</p>
    <button routerLink="/auth/login">Logout</button>
</header>
